BlogAppWcf/BlogHost/Connected Services/BlogService/BlogAppWcf1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BlogAppWcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BlogAppWcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
      <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientInfo" nillable="true" type="tns:ClientInfo" />
  <xs:complexType name="UserNotFoundFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserNotFoundFault" nillable="true" type="tns:UserNotFoundFault" />
  <xs:complexType name="NotCorrectPasswordFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotCorrectPasswordFault" nillable="true" type="tns:NotCorrectPasswordFault" />
  <xs:complexType name="PostNotFoundFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostNotFoundFault" nillable="true" type="tns:PostNotFoundFault" />
  <xs:complexType name="UserAlreadyExistsFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAlreadyExistsFault" nillable="true" type="tns:UserAlreadyExistsFault" />
  <xs:complexType name="PasswordsNotEqualFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasswordsNotEqualFault" nillable="true" type="tns:PasswordsNotEqualFault" />
  <xs:complexType name="ArrayOfPostModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PostModel" nillable="true" type="tns:PostModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostModel" nillable="true" type="tns:ArrayOfPostModel" />
  <xs:complexType name="PostModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created_At" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Modified_At" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:UserModel" />
      <xs:element minOccurs="0" name="User_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostModel" nillable="true" type="tns:PostModel" />
  <xs:complexType name="UserModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created_At" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Last_Login" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Post" nillable="true" type="tns:ArrayOfPostModel" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserModel" nillable="true" type="tns:UserModel" />
</xs:schema>